.card-carrier:hover .testimonial-left-button {
  visibility: visible !important;
  transition: all 2s;
}
.card-carrier:hover .testimonial-right-button {
  visibility: visible !important;
  transition: all 2s;
}

.card .testimonial-left-button {
  position: absolute;
  top: 41%;
  left: 7%;
  color: #fff;
  box-shadow: none;
  background-color: #ffc600 !important;
  border-radius: 5px;
  visibility: hidden;
  z-index: 4;
  padding: 10px;
  transition: all 1s;
}
.card .testimonial-right-button {
  position: absolute;
  /* margin-left: 838px; */
  top: 41%;
  right: 7%;
  color: #fff;
  visibility: hidden;
  transition: all 1s;

  box-shadow: none;
  background-color: #ffc600 !important;
  border-radius: 5px;
  z-index: 4;
  padding: 10px;
}
.card .card-button.right {
  right: 0%;
}
.react-stacked-center-carousel {
  /* padding: 20px 0; */
  overflow-y: visible !important;
  overflow-x: visible !important ;
}

.card-card {
  transition: all 300ms ease;
  cursor: pointer;
  width: 100%;
  /* border-radius: 3px; */
  /* border: #08516B 2px solid; */
  height: 45vh;
  /* height:300px; */
  position: relative;
  border-radius: 20px !important;
  /* background-color: #ffffff;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2), 0 0 4px rgba(0, 0, 0, 0.05); */
}

.card-card:hover {
  transform: scale(1.05);
}

.react-stacked-center-carousel-slide-0 .card-card {
  cursor: default;
}

.react-stacked-center-carousel-slide-0 .card-card:hover {
  transform: none;
}

.fill {
  width: 100%;
  height: 100%;
}
.card-carrier {
  background: transparent !important;
  padding-top: 3%;
  border: none !important;
}

.card-card .card-overlay {
  user-select: none;
  position: absolute;
  background-color: #00000099;
  transition: all 300ms ease;
  border-radius: 20px;
}

.card-card:hover .card-overlay {
  background-color: #0000002d;
}

.react-stacked-center-carousel-slide-0 .card-overlay {
  background-color: #00000099 !important;
}

/* .card-card .cover-image {
    /* object-fit: cover; */

.card-card .cover {
  position: absolute;
  transition: opacity 300ms ease;
}
.react-stacked-center-carousel-slide-0 .card-card .cover {
  transition: opacity 300ms ease, z-index 0ms 300ms;
}

.card-card .cover.on {
  opacity: 1;
  z-index: 1;
}

.card-card .cover.off {
  opacity: 0.3 !important;
  z-index: 3;
}

.card-card .detail {
  display: flex;
}
.card-card .video {
  width: 40%;
}
.card-card .discription {
  display: flex;
  flex-direction: column;
  /* margin: 10px; */
}

.card-card .discription > p {
  text-align: center;
  /* padding-top: 40px; */
  /* font-family: Lato; */
  /* font-size: 16px; */
  /* font-style: normal; */
  /* font-weight: 400; */
  /* line-height: 21px; */
  /* letter-spacing: 0.02em; */
  /* text-align: justified; */
  font-family: "Playfair Display", Sans-serif;
  font-size: 30px;
  font-weight: 900;
  line-height: 1.2em;
}
.card-card > p {
  text-align: center;
  padding-top: 20px;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.02em;
  text-align: justified;
}
.cover-image {
  width: 100% !important;
  height: 100% !important;
  border-radius: 10px !important;
}
.fill {
  width: 100% !important;
  height: 100% !important;
}

/* .slick-slide {
      width: 100%!important;
    }
    .slick-track{
      width: 100%!important;
      
    } */
.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  color: rgba(30, 139, 195, 0.5) !important   ;
}
.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  color: rgba(30, 139, 195, 0.5) !important   ;
}
.card-card .discription {
  display: flex;
  flex-direction: column;
  /* margin: 10px; */
}

.card-card .discription > p {
  text-align: center;
  /* padding-top: 40px; */
  /* font-family: Lato; */
  /* font-size: 16px; */
  /* font-style: normal; */
  /* font-weight: 400; */
  /* line-height: 21px; */
  /* letter-spacing: 0.02em; */
  /* text-align: justified; */
  font-family: "Playfair Display", Sans-serif;
  font-size: 30px;
  font-weight: 900;
  line-height: 1.2em;
}
.card-card > p {
  text-align: center;
  padding-top: 20px;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.02em;
  text-align: justified;
}
.omarSameh {
  position: absolute;
  bottom: 30px;
  left: 40px;
  padding: 2%;
  background-image: linear-gradient(
    90deg,
    rgba(209, 100, 26, 1) 0%,
    rgba(192, 40, 42, 1) 100%
  );
  width: 60%;
  text-align: start;
  color: white;
  z-index: 10;
  border-radius: 10px;
}
.card .testimonial-left-button {
  background-color: rgba(209, 100, 26, 1) !important;
}
.card .testimonial-right-button {
  background-color: rgba(209, 100, 26, 1) !important;
}
